body{
    font-family: 'Quicksand', sans-serif;
    overflow-y:scroll;
}

.left-nav{
    background-color: #4f4e4e;
    height: 100vh;
    border-right: 1px solid rgba(1,1,1,0.3);
}

.contents{
    background-color: #4f4e4e;
    height: 100vh;
    border-left: 1px solid rgba(1,1,1,0.3);
    overflow: hidden;
}

button{
     background-color: #4f4e4e;
     border: 1px solid white;
}

.white{
    color: white;
}

.tab1{
    margin-top: 10px !important;
    margin-bottom: 0px !important;
    border-radius: 10px;
    color: black;
    margin: 50px;
    background-color: white;
    border: 1px solid #5b5b5b;
    box-shadow:  -1px 1px #5b5b5b,
         -2px 2px #5b5b5b,
         -3px 3px #5b5b5b,
         -4px 4px #5b5b5b,
         -5px 5px #5b5b5b;
}

.tab2{
    margin-top: 10px !important;
    margin-bottom: 0px !important;
    border-radius: 10px;
    color: black;
    margin: 50px;
    background-color: white;
    border: 1px solid #5b5b5b;
    box-shadow:  -1px 1px #5b5b5b,
         -2px 2px #5b5b5b,
         -3px 3px #5b5b5b,
         -4px 4px #5b5b5b,
         -5px 5px #5b5b5b;
}

td{
    min-width: 50px;
    padding: 2px;
}

th{
    padding-left: 5px;
    padding-right: 5px;
}

.width{
    min-width: 150px;
}

.box{
    border: 1px solid #adadad;
    size: 70%;
    height: 15vh;
    margin-top: 3vh;
    border-radius: 7px;
    background-color: #6d6c6c;
    color: white;
    vertical-align: middle;
}

.nav-row{
    height: 20%;
}



