<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2 left-nav text-center">
            <div class="row nav-row top-row">
                <div class="col-xs-6 text-center">
                    <div class="box">Item 1</div>
                </div>
                <div class="col-xs-6">
                    <div class="box">Item 2</div>
                </div>
            </div>
            <div class="row nav-row">
                <div class="col-xs-6">
                    <a target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><div class="box">Item 3</div></a>
                </div>
                <div class="col-xs-6">
                    <div class="box">Item 4</div>
                </div>
            </div>
            <div class="row nav-row">
                <div class="col-xs-6">
                    <div class="box">Item 5</div>
                </div>
                <div class="col-xs-6">
                    <div class="box">Item 6</div>
                </div>
            </div>
            <div class="row nav-row">
                <div class="col-xs-6">
                    <div class="box">Item 7</div>
                </div>
                <div class="col-xs-6">
                    <div class="box">Item 8</div>
                </div>
            </div>
            <div class="row nav-row">
                <div class="col-xs-6">
                    <div class="box">Item 9</div>
                </div>
                <div class="col-xs-6">
                    <div class="box">Item 10</div>
                </div>
            </div>
        </div>
        <div class="col-xs-9 text-center">
            <h2>Click contents to navigate ----------></h2>
        </div>
        <div class="col-xs-1 contents">
            <button class="btn" ui-sref="home"><h4 class="white">Home</h4></button>
            <button class="btn" ui-sref="tables"><h4 class="white">Tables</h4></button>
            <button class="btn" ui-sref="charts"><h4 class="white">Charts</h4></button>
        </div>
    </div>
</div>