<div class="container-fluid" ng-controller="chartsController as cc">
    <div class="row">
        <div class="col-xs-11">
            <div id="linediv" style="width: 100%; height: 300px; background-color: #FFFFFF;" ></div>
            <div id="donutdiv" style="width: 100%; height: 300px; background-color: #FFFFFF;" ></div>
        </div>
        <div class="col-xs-1 contents">
            <button class="btn" ui-sref="home"><h4 class="white">Home</h4></button>
            <button class="btn" ui-sref="tables"><h4 class="white">Tables</h4></button>
            <button class="btn" ui-sref="charts"><h4 class="white">Charts</h4></button>
        </div>
    </div>
</div>